html, body {
    height: 100%;
    margin: 0;
}

#bigContainer
{
    display: flex;
    float: left;
    width: 100%;
    /* align-items: stretch; */
    min-height: 80%;
}

#left
{
    flex: 1;
    background-color: #7e82c4;
    padding: 15px;
    
    /* float: left; */
}

#right
{
    flex: 1;
    background-color: #81b7d2;
    padding: 15px;

    /* float: left; */
}

table, tr, td, th
{
    padding: 15px;
}