html, body {
  height: 100%;
  margin: 0;
}

aside
{
    min-width: 300px;
    min-height: 400px;
    background-color: #4d5198;
    /* float: left; */
}

aside * {margin: 10px;}

main
{
    flex-grow: 1;
    background-color: #81b7d2;
    /* float: left; */
}

.container
{
    width: 100%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    flex-flow: space-evenly;
    align-content: space-around;
    justify-content: center;
}

.big-container
{
    display: flex;
    float: left;
    width: 100%;
    min-height: 80%;
    align-items: stretch;
}

.big-container * {height: auto;}

.item
{
    color: black;
    text-decoration: none;
    position: relative;
    width: 30%;
    background-color: lightblue;
    float: left;
    height: 300px;
    margin: 5px;
    border: 2px solid grey;
    text-align: center;
}

.item:visited
{
    color: black;
    text-decoration: none;
}

.buttons
{
    float: right;
    padding: 10px;
}

.page-item
{
    width: 200px;
    height: 200px;
}

.prev, .next
{
    width: 40px;
    height: 40px;
    font-size: 20px;
    background-color: grey;
    color: wheat;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
}