header
{
    width: 100%;
    height: 10%;
    background-color: #ffcce7;
    display: flex;
    align-items: flex-end;
}

footer
{
    width: 100%;
    height: 10%;
    background-color: #daf2dc;
    clear: both;
    color: grey;
}

body
{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a:visited
{
    color: blue;
    text-decoration: none;
}

a
{
    color: blue;
    text-decoration: none;
}

.headButton {margin: 5px 10px;}

#cart
{
    z-index: 1;
    /* display: none; */
    width: 50vw;
    min-height: 500px;
    position: absolute;
    background-color: lightgrey;
    top: 50%;
    left: 50%;
    margin-top: -250px; 
    margin-left: -25vw;
    padding: 10px;
    border-radius: 10px;
}

#buttonOpen
{
    float: right;
    padding: 10px;
}

#cartTop
{
    float: left;
    width: 100%;
    min-height: 430px;
}

#cartBot
{
    float: left;
    width: 100%;
    height: 70px;
}

.botButton
{
    float: right;
    padding: 15px;
    margin: 5px;
}

.miniThumb
{
    width: 50px;
    height: 50px;
}

#logo img {
    display: block;
    height: 50px;
    width: auto;
}