html, body {
    height: 100%;
    margin: 0;
}

#bigContainer
{
    width: 100%;
    min-height: 80%;
    background-color: #81b7d2;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

table, tr, td
{
    padding: 10px;
}

#submit
{
    float: right;
    width: 80px;
    height: 40px;
}

.tinyImg
{
    width: 100px;
    max-height: 100px;
}